/__pycache__
.env
static/hki_kadut.txt
static/Vaasa
static/Helsinki.txt
static/streets/HelsinkiKadut.txt
static/streets/HelsinkiPaikat.txt
static/streets/VaasaKadut.txt
static/streets/VaasaPaikat.txt
